@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter';
  text-decoration: none;
  scroll-behavior: smooth;
}

.menu,
.home,
.page_3,
.page_4 {
  height: 100vh;
}


.navbar {
  position: fixed;
  width: 100%;
  padding: 0 180px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.89);
}

.navdiv {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

.navbar ul li a {
  color: #272727;
  font-family: 'poppins';
  font-weight: 500;
}

.navbar .right {
  padding-right: 50px;
}

.logo .logo1 {
  background-color: #39db4a;
  border-radius: 5px;
  padding: 4px;
  margin: auto 5px;
}

.logo {
  align-items: center;
  display: flex;
}

.right .search {
  padding-right: 30px;
}

.right {
  align-items: center;
  display: flex;
}

.right .call {
  background-color: #39db4a;
  border-radius: 50px;
  padding: 13px 28px;
  margin: auto 20px;
  color: white;
  display: inline-flex;
  align-items: center;
}

.right .call-icon {
  margin-right: 15px;
}

.right a {
  padding-right: 20px;
}

.home .home-content {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
}

.home_title {
  max-width: 600px;
}

.home span {
  color: #39db4a;
}

.home_title h1 {
  font-weight: 800;
  font-size: 4.0rem;
}

.home .text {
  max-width: 600px;
}

.home .text p {
  color: #4A4A4A;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
}

.order {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
}

.order button,
.watch p {
  font-weight: 600;
}

.order button {
  background-color: #39db4a;
  border: transparent;
  color: white;
  padding: 20px 45px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(77, 233, 103, 0.637);
  cursor: pointer;
  font-size: 28px;
}

.watch {
  align-items: center;
  display: inline-flex;
  gap: 1.5rem;
}

.watch p {
  font-size: 28px;
  color: #4D4D4D;
}

.circle i {
  color: black;
}

.circle a {
  background: white;
  box-shadow: 0 5px 15px rgba(167, 167, 167, 0.527);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  position: absolute;
  max-width: 1000px;
  left: 36%;
}

.images .model {
  max-width: 65%;
  float: right;
}

.messages {
  position: absolute;
  z-index: 999;
  top: 22%;
  left: 47%;
}

.spicy img {
  display: block;
  max-width: 500px;
}

.spicy h6 {
  font-weight: 600;
  font-size: 20px;
  color: #FF6868;
  position: absolute;
  top: 23%;
  left: 20%;
  text-align: center;
  padding: 10px;
}

.spicy_noddles,
.vegetarian_salad {
  background-color: white;
  display: flex;
  position: absolute;
  box-shadow: 0 5px 15px rgba(167, 167, 167, 0.527);
  align-items: center;
  border-radius: 20px;
  z-index: 1;
  grid-gap: 1.0rem;
  width: 300px;
}

.spicy_noddles {
  top: 91%;
  left: 31%;
}

.vegetarian_salad {
  top: 91%;
  left: 66%;
}

.spicy_noddles img,
.vegetarian_salad img {
  box-shadow: 0 5px 15px rgba(167, 167, 167, 0.527);
  margin: 1rem;
  max-width: 80px;
}

.text_content {
  line-height: 1.5;
}


.text_content h5 {
  font-weight: 600;
  font-size: 22px;
}

.text_content h6 {
  font-weight: 600;
  font-size: 20px;
}

.text_content span {
  font-size: 15px;
}

.text_content span {
  color: #FF6868;
}

.text_content h5,
h6 {
  color: #272727;
}


.text_content .checked {
  color: #FFE605;
}

.text_content i {
  font-size: 15px;
}



/* PAGE 2 */
.menu_container {
  padding-top: 150px;
  margin: 0 200px;

}

.fav p,
h1 {
  font-weight: 700;
}

.fav p {
  font-size: 20px;
  color: #FF6868;
  padding-bottom: 20px;
  letter-spacing: 5px;

}

.fav h1 {
  font-size: 70px;
}


.fav,
.dishes {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dishes p {
  color: #1E1E1E;
}

.dish_1,
.dish_2,
.dish_3,
.dish_4 {
  box-shadow: 0 5px 15px rgba(167, 167, 167, 0.527);
  padding: 50px 70px;
  width: 1000px;
  border-radius: 30px;
}

.dishes {
  display: flex;
  align-items: center;
  gap: 2.5em;
  padding-top: 180px;
}

.dishes img {
  background-color: #c0f1c7;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 25px;
  object-fit: cover;
}

.dishes h6 {
  color: #555555;
}

.dishes p {
  padding-top: 10px;
  font-weight: 600;
  font-size: 25px;
}

.dishes h6 {
  font-weight: 500;
  font-size: 16px;
  padding-top: 12px;
}

.page_3 .container {
  padding-top: 150px;
  margin: 0 200px;
}

.special_dishes {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

.special_dishes .rating {
  display: flex;
  gap: 10px;
  text-align: center;
}

.page_3 .container .standout h1,
.special_title p {
  font-weight: 700;
}

.special_dishes img {
  max-width: 1000px;
  padding-bottom: 15px;
  padding-top: 20px;
}

.special_dishes span,
h4,
p,
h5,
i,
h1 {
  font-weight: 600;
}

.special_dishes p {
  color: #555555;
  padding-bottom: 10px;
}

.special_dishes h1 {
  padding-bottom: 10px;
}

.special_1,
.special_2,
.special_3 {
  box-shadow: 0 5px 15px rgba(167, 167, 167, 0.527);
  padding: 20px 60px;
  border-radius: 30px;
  align-items: center;
}

.special_dishes .rating {
  display: flex;
  align-items: center;
}

.rating span {
  font-size: 15px;
  color: #FF6868;
}

.rating h4 {
  font-size: 20px;
  padding-right: 120px;
}

.rating i {
  align-items: center;
  display: flex;
  text-align: center;
  color: #FFE605;
}

/* FONT SIZES & COLORS*/

.page_3 .special_dishes h1,
.rating h4 {
  font-size: 28px;
  padding-bottom: 15px;
}

.page_3 .special_dishes .rating span,
.rating h5,
i {
  font-size: 20px;
  padding-bottom: 15px;
}

.page_3 .special_dishes p {
  padding-bottom: 15px;
  font-size: 20px;
}

.page_3 .special_title p {
  font-size: 20px;
}

.page_3 .standout h1 {
  font-size: 55px;
}

.page_3 .container .special_title p,
.offers_text_contents p {
  color: #FF6868;
  padding-bottom: 35px;
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: 700;
}


/* testimony_model_wrapper position */
.page_4 .container {
  display: flex;
  justify-content: space-between;
  padding: 200px;
}

.offers_title {
  padding-top: 50px;
}

.testimony_model_wrapper {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -120px;
  padding: 60px;
}

.testimony_model_wrapper img {
  max-width: 90%;
}

.testimony_model_wrapper .smile_emoji {
  left: 35px;
  top: 500px;
  position: absolute;
  z-index: 1;
}

.testimony_model_wrapper .pizza_emoji {
  left: 455px;
  top: 500px;
  position: absolute;
  z-index: 1;
}

.testimony_model_wrapper .chat_bubble {
  left: 320px;
  top: 648px;
  display: flex;
  position: absolute;
  z-index: 1;
}

.testimony_model_wrapper h4 {
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  top: 90%;
  left: 68%;
  z-index: 1;
}

.offers_title h1 {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 20px;
}

.offers_title h2 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 50px;
  color: #555555;
}

.customer_feedback {
  position: relative;
  display: flex;
}

.customer_feedback img {
  position: absolute;
}

.customer_feedback .one {
  padding-right: 10px;
}

.customer_feedback .two {
  left: 55px;
  top: -5px;
}

.customer_feedback .three {
  left: 120px;
  z-index: 1;
  top: -5px;
}

.customer_feedback h1 {
  margin-left: 250px;
  padding-bottom: 15px;
}

.customer_feedback .feedback_rating h6 {
  font-weight: 500;
}

.customer_feedback .feedback_rating {
  margin-left: 250px;
  display: flex;
}

.customer_feedback .feedback_rating i {
  color: #FFE605;
  padding-right: 10px;
  font-size: 18px;
}

.customer_feedback .feedback_rating h5 {
  padding-right: 10px;
  font-size: 18px;
}

.customer_feedback .feedback_rating h6 {
  color: #807E7E;
  font-size: 18px;
}

.customer_feedback .feedback_rating h1 {
  font-weight: 600;
  padding-bottom: 10px;

}